<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    border-radius: 20px;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;

  }

  .search-btn i {
    display: inline;
    margin-right: 1rem;
  }

  .search-inp {
    border-radius: 18px;
    padding: 0.5rem 3rem;
    font-size: 1rem;

  }

  .show {
    background-color: rgb(227, 221, 210);
  }
</style>

<!-- <nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings/">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search Destinations">
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto me-5">
        <a class="nav-link" href="/listings/new">Air ban You Home</a>
        <% if(!currentUser) { %>
          <a class="btn btn-outline-secondary me-3" href="/login">Login</a>
          <a class="btn btn-info " href="/singup">Resigter</a>
          <% } else { %>
            <a class="btn btn-danger " href="/logout">Logout</a>
            <% } %>
      </div>
    </div>
</nav> -->

<!-- new -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->

      <form class="d-flex ms-auto me-auto" role="search">
        <input class="form-control ms-7 search-inp" type="search" placeholder="Search Destinations" aria-label="Search">
        <button class="btn search-btn" type="submit">Search</button>
      </form>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="btn btn-success nav-link " aria-current="page" href="/listings/new">Air ban You Home</a>
        </li>
        <% if(!currentUser) { %>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary" aria-current="page" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-info" href="/singup">Resigter</a>
          </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link btn btn-danger btn" href="/logout">Logout</a>
            </li>
            <% } %>
      </ul>

    </div>
  </div>
</nav>