<% layout('/layouts/boilerplate.ejs') -%>

    <div class="row mt-3">
        <div class="col-6 offset-3">
            <h2>wanderlust</h2>
            <form action="/singup" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label class="form-lable" for="title">Username :</label>
                    <input type="text" id="username" name="username" class="form-control" required />
                    <div class="invalid-feedback">Title Required</div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="title">Email :</label>
                    <input type="email" id="email" name="email" class="form-control" required />
                    <div class="invalid-feedback">Title Required</div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="title">Password :</label>
                    <input type="password" id="password" name="password" class="form-control" required />
                    <div class="invalid-feedback">Title Required</div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>